@import "../abstracts/variables";
@import "../abstracts/mixin";
.collapse {
  padding-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px
}

.collapse-title {
  width:  88%;
   height: 47px;
  background-color: $color-primaire;
  color: $color-Secondaire;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 24px;
  h6 {
    font-size: 24px;
    margin-left: 20px;
  }
  .fa-angle-up,
  .fa-angle-down {
    margin-right: 20px;
    cursor: pointer;
  }
}

.collapse-article {
 
  width:  88%;
  height: auto;
  border-radius: 5px;
  background-color: $color-gray;
  display: flex;
  align-items: center;

  p {
    font-size: 24px;
    font-weight: 400;
    font-family: Montserrat;
    margin: 20px;
    color: $color-primaire;
  }
  .ArryText{
display: flex;
flex-direction: column;
  }
}
.collapse_continer{
  width: 90%;
  margin: 0 auto;

}

@include portable{
  .collapse-title,.collapse-article
   {
    width: 93%;
  }
   
}
