

.footer{
  
    height: 155px;
   position: relative;
   bottom: -872px;
background-color: #000000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

h4{
    color: white;
}
img{
    padding-top: 37px;
    width: 122px;
    height: 40px;
}
}

 
