@import'../base/body';
.header{
 
    height: 87px;
       padding: 0 28px;
       display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 140px;
}
.nav{
    display: flex;
    align-items: center;
    width: 247px;
    justify-content: space-between;

}
a{
font-weight: 500;
font-size: 25px;
color: #FF6060;



}
li{list-style-type:none;}